body {
    --font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbe0;
    font-family: var(--font-family);
}


.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#info {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    #info div:nth-child(1) p {
        margin: 0;
    }
    #info--date {
        font-size: 3em;
    }
    #info--time {
        font-size: 4.5em;
    }
#info form {
    display: flex;
    align-items: center;
}
.info--input, .info--datepicker {
    padding: 13px;
    box-shadow:-2px -2px 5px inset #ffffff,
    2px 2px 5px inset #d8e0ed;
    border: none;
    font-family: var(--font-family);
    font-size: 1.3em;
}
.info--input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 300px;
}
.info--datepicker{
    width: 80px;
}
.info--add {
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: limegreen;
    color: white;
    padding: 15px;
    font-family: var(--font-family);
    text-transform: uppercase;
    cursor: pointer;
}

#info--quote {
    margin: 70px 0;
    max-width: 500px;
}
#info--quote--text {
    font-style: italic;
    font-size: 1.4em;
}
    #info--quote--text::before, #info--quote--text::after {
        content: '"';
        font-style: italic;
    }
#info--quote--author {
    text-align: right;
    font-size: 1.4em;
}
    #info--quote--author::before{
        content: "- "
    }

.list {
    position: relative;
    background-color: #f6f6f6;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 2px 6px lightgrey;
}
.list--options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}
    .list--options fieldset{
        flex-grow: 2;
        margin: 0;
        border: none;
        border-right: 2px solid lightgray;
        text-align: center;
    }
    .list--options fieldset:last-child {
        border-right: none;
    }
    .list--options label {
        opacity: 0.4;
    }
    .list--options input[type="radio"]{
        display: none;
    }
    .list--options input[type="radio"]:checked + label{
        opacity: 1;
    }
    .list--options .separator{
        height: 35px;
        width: 0px;
        border: 1.5px solid lightgray;
    }
    
.list--items{
    background-color: white;
    height: 75%;
    margin: 20px;
    border-radius: 5px;
    overflow: auto;
}

    .list--items .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: -30px;
        width: 100%;
        padding: 0 10px;
        border-bottom: 1px solid grey;
        font-size: 1.3em;
        list-style: none;
    }   
        .item--text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-right: 10px;
        }

        .item--btn {
            position: relative;
            background-color: white;
            border: 1px solid black;
            border-radius: 50%;
            padding: 8px;
            outline: none;
        }
        .item--btn::after{
            content: "";
            position: absolute;
            left: 4.5px;
            bottom: 4px;
            width: 5px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 2px solid green;
            border-right: 2px solid green;
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
        }
        .item--btn:hover::after{ opacity: 1; }
        .item--btn:active { background-color: #ddd; }

@media screen and (max-width: 1025px){
    .container {
        margin: 50px 0;
        flex-direction: column;
        height: 100%;
    }

    #info { text-align: center; }
    #info--quote { margin: 30px 0;}
}